body {
    position: relative; /* Set body as the relative positioning context */
    background-color: blue;
    color: antiquewhite;
    margin: 0;
}

.container {
    position: relative; /* Set container as the relative positioning context */
    display: flex;
    flex-wrap: wrap;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    padding: 20px;
}

.main-content {
    flex: 1; /* Take remaining space */
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 50%;
}

#helpful-quotes,
#locations {
    margin-top: 20px; /* Add spacing between sections */
}

header {
    font-size: 8em;
}

.fish-image {
    max-width: 100%;
}


.fish {
    background-color: black;
}

#fish h3 {
    color: aliceblue;
}