body {
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: antiquewhite;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between; 
}

aside {
    flex: 0 0 300px;
    max-width: 300px;
    order: 2; 
    padding: 20px;
    align-self: flex-end;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    flex: 1 1 calc(50% - 40px); 
    max-width: calc(50% - 40px); 
}

#locations {
    flex-basis: 100%; 
    max-width: 100%; 
}

.fish-image {
    max-width: 100%;
}

header {
    font-size: 8em;
}